.manage-o__timeline {
    padding-top: 40px;
}

.timeline-row {
    display: flex;
    flex-wrap: wrap;
}

.manage-o__timeline [class*="col-"] {
    padding: 0;
    text-align: center;
}

.u-s-m-b-30 {
    margin-bottom: 1.875rem;
}

.timeline-l-i.timeline-l-i--finish {
    border-color: #6B5AED;
}

.timeline-l-i {
    position: relative;
    border-radius: 3px;
    border-top: 3px solid #eee;
}

.timeline-l-i.timeline-l-i--finish .timeline-circle {
    border-color: #6B5AED;
}

.timeline-l-i .timeline-circle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 2px solid #eee;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.timeline-text {
    margin-top: 20px;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: #333333;
}

.manage-o__timeline [class*="col-"] {
    padding: 0;
    text-align: center;
}

.timeline-l-i.timeline-l-i--finish .timeline-circle:before {
    background-color: #6B5AED;
}

.timeline-l-i .timeline-circle:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #eee;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.dash__box--shadow {
    box-shadow: -2px 0px 14px 0 rgba(36, 37, 38, 0.08);
}

.dash__box--bg-white {
    background-color: #ffffff;
}

.dash__pad-3 {
    padding: 26px;
}

.dash__h2 {
    line-height: 1;
    font-size: 14px;
    color: #333333;
}

.u-s-m-b-8 {
    margin-bottom: 0.5rem;
}

.dash__text-2 {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #7f7f7f;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.dash__box--bg-white {
    background-color: #ffffff;
}

.u-h-100 {
    height: 100%;
}