* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.p-b-60 {
    padding-bottom: 3.75rem;
}

.m-b-60 {
    margin-bottom: 3.75rem;
}

.m-b-30 {
    margin-bottom: 1.875rem;
}

.m-t-50 {
    margin-top: 3.125rem;
}

.section__intro .section__heading {
    font-weight: 600;
    letter-spacing: -.02rem;
    font-size: 28px;
    text-align: center;
}


.section__content .container {
    /* max-width: 410px; */
}

.l-f-o {
    border: 1px solid #eee;
}

.l-f-o__pad-box {
    padding: 20px;
}

.l-f-o__form {
    width: 100%;
}

.l-f-o .input-text,
.l-f-o .btn,
.l-f-o .select-box {
    border-radius: 6px;
}

.l-f-o .input-text {
    width: 100%;
}

.l-f-o .btn {
    font-weight: 600;
    padding: 12px 18px;
}

.gl-h1 {
    color: #333333;
    font-size: 18px;
    margin-bottom: 8px;
}

.gl-text {
    display: block;
    color: #a0a0a0;
    font-size: 13px;
}

.gl-label {
    margin-bottom: 8px;
    display: block;
    color: #333333;
    font-size: 13px;
    font-weight: 600;
}

.input-text--primary-style {
    color: #333333;
    transition: all 0.6s linear;
    border: 2px solid transparent;
    background-color: #f1f1f1;
}


.btn--e-transparent-brand-b-2 {
    color: #ff4500;
    border: 2px solid #ff4500;
    background-color: transparent;
    transition: border-color .5s ease-in;
}

.btn--e-transparent-brand-b-2:hover {
    border-color: #fa4400;
    background-color: #ff4500;
    color: #fff;
}

.gl-link {
    font-size: 13px;
    font-weight: 600;
    color: #ff4500;
    transition: color 0.5s linear;
}

.gl-link:hover {
    opacity: 0.7;
}
.required-check {
    color: red;
}